main {
    gap: 5rem;
    width: 1000px;
    padding: 3rem;
    display: flex;
    padding-top: 5rem;
    background-color: white;
}

#imgSect {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

#mainImg {
    width: 25rem;
    border-radius: 16px;
    content: url("/images/image-product-1.jpg");
}

#thumbnail {
    gap: 1rem;
    display: flex;
}

#thumbnail img {
    height: auto;
    width: 5.5rem;
    border-radius: 8px;
}

.active {
    opacity: .25;
    position: relative;
    box-shadow: 0 0 0 2px hsl(26, 100%, 55%);
}

#textSect {
    padding-top: 4rem;
}

#textSect h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: hsl(219, 9%, 45%);
}

#textSect h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: hsl(220, 13%, 13%);
}

#textSect p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    margin-bottom: 1rem;
    color: hsl(219, 9%, 45%);
}

#price {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
}

#discount {
    color: white;
    padding: .4rem .6rem;
    border-radius: 6px;
    background-color: hsl(220, 13%, 13%);
}

.row {
    display: flex;
    align-items: center;
    gap: 1rem;
}