@media (max-width: 65em) {
    main {
        gap: 1rem;
        padding: 0;
        flex-direction: column;
    }

    #mainImg {
        width: 100%;
        border-radius: 0;
        pointer-events: none;
    }

    #mobileControls {
        top: 20%;
        left: 3%;
        width: 22rem;
        display: flex;
        position: absolute;
        pointer-events: none;
        justify-content: space-between;
    }

    #mobilePrev,
    #mobileNext {
        cursor: pointer;
        border-radius: 50%;
        pointer-events: all;
        padding: .8rem 1rem;
        background-color: white;
    }

    #mobilePrev:hover,
    #mobileNext:hover {
        opacity: 0.9;
    }

    #thumbnail {
        display: none;
    }
}