main {
    gap: 5rem;
    width: 1000px;
    display: flex;
    padding-top: 3rem;
    position: relative;
    background-color: white;
}

#imgSect {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

#mainImg,
#lightBoxImg {
    width: 25rem;
    border-radius: 16px;
}

#thumbnail,
#lightboxThumbnail {
    gap: 1rem;
    display: flex;
}

#thumbnail img,
#lightboxThumbnail img {
    height: auto;
    width: 5.5rem;
    cursor: pointer;
    border-radius: 8px;
}

#thumbnail img:hover:not(.active),
#lightboxThumbnail img:hover:not(.active) {
    opacity: .5;
}

.active {
    opacity: .25;
    position: relative;
    box-shadow: 0 0 0 2px hsl(26, 100%, 55%);
}

#textSect {
    padding-top: 4rem;
}

#textSect h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: hsl(219, 9%, 45%);
}

#textSect h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: hsl(220, 13%, 13%);
}

#textSect p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: hsl(219, 9%, 45%);
}

#price {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
}

#discount {
    color: white;
    font-weight: 700;
    font-size: .8rem;
    border-radius: 6px;
    padding: .3rem .6rem;
    background-color: hsl(220, 13%, 13%);
}

.row {
    gap: 1rem;
    display: flex;
    margin: 1rem 0;
    align-items: center;
}

#oldPrice {
    font-weight: 700;
    color: hsl(219, 9%, 45%);
    text-decoration: line-through;
}

#prodNo {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    background-color: hsl(223, 64%, 98%);
}

#plus,
#minus {
    padding: 0.75rem 1rem;
    cursor: pointer;
}

#plus:hover,
#minus:hover {
    opacity: .5;
}

#cartNo {
    width: 2rem;
    border: none;
    font-weight: 700;
    text-align: center;
    color: hsl(220, 13%, 13%);
    background-color: transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

#cartBtnIco {
    width: .8rem;
    font-weight: 700;
}

#addCArt {
    gap: 1rem;
    border: none;
    display: flex;
    cursor: pointer;
    font-weight: 700;
    margin-top: 1rem;
    font-size: .75rem;
    border-radius: 8px;
    align-items: center;
    padding: .75rem 3rem;
    color: hsl(220, 13%, 13%);
    background-color: hsl(26, 100%, 55%);
}

#addCArt:hover {
    opacity: .7;
}