* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

header {
    width: 1000px;
    display: flex;
    background-color: white;
    justify-content: space-between;
}

nav {
    gap: 3rem;
    display: flex;
    padding: 0 1rem;
    align-items: center;
}

#menu {
    display: none;
}

nav div {
    gap: 1rem;
    display: flex;
    align-items: center;
}

nav ul {
    gap: 1.5rem;
    display: flex;
    padding: 2rem 0;
    list-style: none;
}

nav ul li a {
    padding: 1.85rem 0;
    text-decoration: none;
    color: hsl(220, 13%, 13%);
    cursor: pointer;
}

nav ul li a:hover {
    border-radius: 1px;
    border-bottom: 5px solid hsl(26, 100%, 55%);
}

header div {
    display: flex;
    align-items: center;
}

#cart {
    margin: 1rem;
    cursor: pointer;
}

#avatar {
    width: 3rem;
    margin: 1rem;
    cursor: pointer;
}

#avatar:hover {
    margin: .8rem;
    border-radius: 50%;
    margin-left: .85rem;
    box-sizing: content-box;
    border: .2rem solid hsl(26, 100%, 55%);
}

hr {
    height: .5px;
    border: none;
    width: 1000px;
    background-color: hsl(220, 14%, 75%);
}