@media (max-width: 65em) {

    header,
    hr,
    main {
        width: 375px;
    }

    body {
        background-color: black;
    }

    /* Header */
    header {
        position: relative;
    }

    nav ul {
        top: 0px;
        left: 0px;
        z-index: 1;
        /* display: none; */
        position: absolute;
        flex-direction: column;
        background-color: red;
    }

    #menu {
        display: block;
    }

    /* main */
    main {
        overflow: hidden;
    }
}