#lightbox {
    gap: 1.5rem;
    width: 100%;
    height: 121%;
    display: flex;
    /* display: none; */
    position: absolute;
    padding: 4.5rem 0;
    align-items: center;
    flex-direction: column;
    background-color: hsla(0, 0%, 0%, 0.7);
}

#closeDiv {
    width: 25rem;
    display: flex;
    pointer-events: none;
    flex-direction: column;
}

#close {
    cursor: pointer;
    pointer-events: all;
    align-self: flex-end;
    content: url("/assets/images/icon-close.svg");
}

#close:hover {
    content: url("/assets/images/icon-close active.svg");
}

#controls {
    top: 40%;
    width: 30rem;
    position: absolute;
    pointer-events: none;
}

#prev,
#next {
    margin: 0 1rem;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    padding: .8rem 1rem;
    pointer-events: all;
    background-color: white;
}

#prev {
    left: 0;
    content: url("/assets/images/icon-previous.svg");
}

#next {
    right: 0;
    content: url("/assets/images/icon-next.svg");
}

#prev:hover {
    content: url("/assets/images/icon-previous active.svg");
}

#next:hover {
    content: url("/assets/images/icon-next active.svg");
}

#lightboxThumbnail div {
    border-radius: 8px;
    background-color: white;
}